<section class="align-self-end mt-3">
    <!-- Footer -->
    <footer class="text-center text-white bg-blue">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: CTA -->
        <section class="">
          <p class="d-flex justify-content-center align-items-center">
            <span class="me-3">Try it for free</span>
            <button type="button" class="btn btn-outline-light btn-rounded" routerLink="/assesHome">
              Take Assessment
            </button>
          </p>
        </section>
        <!-- Section: CTA -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3 bg-dblue">
        © 2022 Copyright:
        <a class="text-white" routerLink="/" >HR Assistant</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>