<div class="container">
    <div class="row col-12 mx-auto my-5 ">
      <div class="row">
        <div class="col-5 p-5 ">
          <img src="../../../assets/images/recruitment.png" style="width: 100%;" />
        </div>
        <div class="col-7 p-3 rounded-title my-auto">
            <h4>We have a Fair Assessment to pick suitable candidate for a job</h4>
        </div>
      </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row col-12 mx-auto my-5 ">
      <div class="row ">
        <div class="col-7 p-3 rounded-title my-auto ">
            <h4>Are You Ready to Grab the Opportunity?</h4>
            <a class="btn btn-blue mt-4" routerLink="/assesHome" role="button">YES</a>
        </div>
        <div class="col-5 p-5" >
            <img src="../../../assets/images/goal.png" style="width: 100%;" />
          </div>
      </div>
    </div>
</div>
