<div class="container ">
    <div class="row col-10 rounded-div mx-auto my-5">
      <div class="row">
        <div class="p-5 mx-auto">
          <img src="../../../assets/images/target.png" style="width: 30%;" />
        </div>
        <div class="col-8 p-3 rounded-title mx-auto">
            <h4>Are You Ready to Grab the Opportunity?</h4>
            <a class="btn btn-blue" routerLink="/assessment" role="button">YES</a>
            <!-- <button class="btn " (click)="start_test()">YES</button> -->
        </div>
      </div>
    </div>
</div>